<div class="container">
  <h2>{{ isEditing ? 'Edit Task' : 'Create Task' }}</h2>

  <form (ngSubmit)="save()" #taskForm="ngForm">
    <div>
      <label for="title">Task Title:</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="task.title" 
        name="title"
        required
        placeholder="Enter task title"
      />
    </div>

    <div>
      <label for="description">Task Description:</label>
      <textarea
        id="description"
        [(ngModel)]="task.description"
        name="description"
        required
        placeholder="Enter task description"
      ></textarea>
    </div>

    <div>
      <label for="completed">Completed:</label>
      <input 
        type="checkbox" 
        id="completed" 
        [(ngModel)]="task.completed" 
        name="completed" />
    </div>

    <button type="button" (click)="goBack()">Go Back</button>

    <button type="submit" [disabled]="taskForm.invalid">
      {{ isEditing ? 'Update Task' : 'Create Task' }}
    </button>
  </form>
</div>
